.ivy-home/
target/
.vscode
.bsp/

project/.credentials
project/metals.sbt
project/project/metals.sbt
project/project/project/metals.sbt
data/
.DS_Store
.ensime
.ensime_cache/
compilation-cache.tar
.bloop/
sbt-cache/
configurations/envs/local/perso_conf.env
configurations/envs/prod/prod_conf.env
configurations/envs/preprod/preprod_conf.env
configurations/envs/prod/prod_conf.env
.bsp/
configurations/envs/staging/staging_conf.env
.idea/*
!.idea/runConfigurations
.idea/runConfigurations/*
!.idea/runConfigurations/local_*.xml
.idea/runConfigurations/Integrations.xml
.idea/runConfigurations/Units.xml
!.idea/runConfigurations/preprod_*.xml
!.idea/runConfigurations/ALL_MASTERCARDS_APP.xml
!.idea/runConfigurations/ALL_SEPA_APPS.xml
.idea/runConfigurations/local_*_Tests.xml
*.tgz
!.idea/runConfigurations/staging_*.xml
.metals/
/out/*
*.asc
